@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="场地名称" underline="true"/>
                    <#input id="desc" name="场地描述" underline="true"/>
                    <#input id="price" name="场地价格" underline="true"/>
                    <#select id="status" name="审批状态" underline="true">
                        <option value="开启">开启</option>
                        <option value="关闭">关闭</option>
                    </#select>
                </div>

                <div class="col-sm-6">
                    <#select id="deviceInfo" name="场地设备信息" underline="true">
                    <option >请选择设备信息</option>
                    @for(device in list){
                        <option value=${device.name}>${device.name}</option>
                    @}
                </#select>

                    <#avatar id="pic" name="场地图片" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SiteInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SiteInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/site/site_info.js"></script>
@}
