@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="商品名称" underline="true"/>
                            <#input id="detail" name="详情" underline="true"/>
                            <#input id="price" name="商品价格" underline="true"/>
                    <#input id="detail" name="详情"  />

                </div>

                <div class="col-sm-6">
                            <#input id="num" name="剩余数量" underline="true"/>
                            <#input id="numMax" name="总数量" underline="true"/>
                    <#avatar id="pic" name="商品照片" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProductInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProductInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/product/product_info.js"></script>
@}
