@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="Id" value="${item.id}"  disabled="disabled" underline="true"/>
                            <#input id="name" name="课程名称" value="${item.name}" underline="true"/>
                            <#input id="price" name="课程价格" value="${item.price}" underline="true"/>
                    <#select id="coachName" name="教练姓名" value="${item.coachName}" underline="true">
                    <option value="${item.coachName}">${item.coachName}</option>
                    @for(coach in list){
                        @if(item.coachName != coach.name){
                            <option value=${coach.name}>${coach.name}</option>
                        @}
                    @}
                </#select>
                </div>

                <div class="col-sm-6">
                            <#input id="num" name="报名人数" value="${item.num}" underline="true"/>
                            <#input id="maxNum" name="上限人数" value="${item.maxNum}" underline="true"/>
                    <#avatar id="pic" name="课程照片" underline="true" avatarImg="${item.pic}"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CourseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CourseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/course/course_info.js"></script>
@}
