@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="name" name="故障名" underline="true"/>
                            <#input id="desc" name="故障详情" underline="true"/>
                    <#select id="deviceName" name="故障设备" underline="true">
                    @for(device in list){
                    <option value=${device.name}>${device.name}</option>
                    @}
                </#select>
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="上报状态" disabled="disabled" value="待审批"  underline="true"/>
                    <#avatar id="pic" name="故障图片" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FaultInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FaultInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/fault/fault_info.js"></script>
@}
