@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" disabled="disabled" underline="true"/>
                    <#input id="userId" name="用户Id" display="none" value="${item.userId}" disabled="diabled"  underline="true"/>

                    <#input id="userName" name="会员名称" disabled="disabled" value="${item.userName}" underline="true"/>
                            <#input id="amount" name="充值金额" disabled="disabled" value="${item.amount}" />
                </div>

                <div class="col-sm-6">
                            <#select id="status" name="充值状态" value="${item.status}" disabled="disabled" underline="true">
                            <option value="通过">通过</option>
                            <option value="拒绝">拒绝</option>
                        </#select>
                            <#input id="startTime" name="充值时间" value="${item.startTime}" disabled="disabled" underline="true"/>
                            <#input id="endTime" name="结束时间" disabled="disabled" value="${item.endTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ChargeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ChargeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/charge/charge_info.js"></script>
@}
