@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="userId" name="会员Id" underline="true"/>
                            <#input id="amount" name="充值金额"/>
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="充值状态" underline="true"/>
                            <#input id="startTime" name="充值时间" underline="true"/>
                            <#input id="endTime" name="结束时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ChargeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ChargeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz/charge/charge_info.js"></script>
@}
